/* General Styles */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  color: #666;
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    max-width: 100%;
    vertical-align: baseline;
}

textarea, input {
    outline: none;
}

textarea {
    overflow: auto;
    vertical-align: top;
}
