/* General Styles */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  color: #666;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  max-width: 100%;
  vertical-align: baseline;
}

textarea,
input {
  outline: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

/* Layout */
.comment-section {
  width: 100%;
  max-width: 760px;
  margin: 30px auto;
}

h1 {
  padding: 15px;
  margin: 0;
}

#commentform {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#commentform > [class^="comment-form"],
#commentform > .form-submit {
  position: relative;
  min-height: 1px;
  padding: 15px;
  width: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 600px) {
  #commentform > .comment-form-name,
  #commentform > .comment-form.surname,
  #commentform > .comment-form-email,
  #commentform > .comment-form-url {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/* Form */
#commentform input[type="text"],
#commentform input[type="email"],
#commentform input[type="url"],
#commentform textarea {
  background-color: #fff;
  border: 1px solid #d8d8d8;
  padding: 24px 10px 12px;
  font-size: 16px;
  font-size: 1rem;
}

input[type="text"],
input[type="email"],
input[type="url"],
textarea {
    background-color: #fff;
    padding: 24px 10px 12px;
    font-size: 16px;
    font-size: 1rem;
    width: 100%;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

:focus {
    outline: 0;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
textarea:focus {
    background-color: #fff;
}

